.Nav-bar{
  background-color: #FFFFFF;
  display: flex;
  height: 5.6rem;
  box-shadow: 1px 8px 40px #F1F1F1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Nav-bar__f-logo{
  position: relative;
  top: 2rem;
}

.Nav-bar__search-bar{
  height: 3.2rem;
  width: 27.6rem;
  background-color: #FFFFFF;
  border: solid 1px;
  border-color: #D4D4D4;
  border-radius: 4px 0px 0px 4px;
  font-size: 1.2rem;
  position: relative;
  right: 7rem;
  top: 1rem;
}

.magnify-back{
  background-color: #F8F8F8;
  height: 3.3rem;
  width: 7.5rem;
  border: solid 1px;
  border-color: #D4D4D4;
  border-radius: 0px 4px 4px 0px;
  position: relative;
  right: 22.5rem;
  top: 1rem;
}

.magnify{
  height: 1.5rem;
  position: relative;
  top: 0.8rem;
  left: 3rem;
}

.upload-button{
  position: relative;
  right: 1.4rem;
  bottom: 1.5rem;
}

.gibbonsCircle{
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  left: 5rem;
  bottom: 4rem;
}

.gibbons{
  height: 3rem;
}

.main-container{
  height: 57rem;
}

.Video{
  height: 30rem;
  margin-left: 8rem;
  margin-top: 3rem;
}

.VidTitle{
  margin-left: 8rem;
  margin-top: 1.5rem;
}

.viewsNumbers{
  color: #888888;
  margin-left: 0rem;
  margin-top: 0.7rem;
}

.views{
  color: #888888;
  margin-top: 0.7rem;
  margin-left: 0.3rem;
}

.view-container{
  display: flex;
  border-bottom: solid 1px #D4D4D4;
  width: 86.3%;
  margin-left: 8rem;
  padding: 0rem 0rem 1rem 0rem;
}

.thumbup{
  margin-top: 0.5rem;
  margin-left: 29.6rem;
}

.Likes{
  color: #888888;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.thumbDown{
  margin-top: 1rem;
  margin-left: 1rem;
}

.dislikes{
  color: #888888;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.share-button{
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.share{
  color: #888888;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}

.channel-tab{
  display: flex;
  margin-left: 8rem;
  margin-top: 1.5rem;
}

.crop{
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.grey{
  background-color: #D4D4D4;
  height: 5rem;
}

.ch-info{
  margin-left: 1rem;
  margin-right: 27rem;
}

.channel{
  margin-top: 0.4rem;
  margin-bottom: 0.3rem;
}

.date{
  color: #888888;
  font-size: 0.9rem;
}

.subscribe-button{
  background-color: #0095FF;
  display: flex;
  border-radius: 2px;
  height: 2.5rem;
  width: 11rem;
  margin-top: 0.3rem;
}

.subscribe{
  color: #FFFFFF;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.sub-count{
  color: #D4D4D4;
  margin-top: 0.7rem;
  margin-left: 2rem;
}

.show-more-box{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #D4D4D4;
  width: 86.3%;
  margin-left: 8rem;
}

.description{
  margin-left: 4rem;
  margin-top: 2rem;
}

.more{
  color:#888888;
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.video-card{
  display: flex;
  margin-top: -1.9rem;
}

.video-card__image{
  height: 6rem;
  width: 9rem;
}

.vid-description{
  margin-top: 1.6rem;
  margin-left: 0.7rem;
}

.video-card__title{
  font-size: 13px;
  width: 13rem;
}

.video-card__ch{
  font-size: 0.7rem;
  color: #888888;
}

.video-card__views{
  font-size: 0.7rem;
  color: #888888
}

.video-card__duration{
  position: relative;
  top: 6rem;
  font-size: 0.5rem;
  color: white;
  background-color: black;
  width: 1.5rem;
  height: 0.8rem;
  left: 7rem;
}

.combine{
  display: flex;
}

.video-loop{
  margin-left: 2rem;
  margin-top: 1rem;
}

.next{
  font-size: 0.9rem;
  margin-top: 2.6rem;
  margin-left: 2rem;
}

.upload-box{
  background-color: #FFFFFF;
  width: 73rem;
  height: 36rem;
  border: solid 1px #D4D4D4;
  margin-left: 9rem;
  margin-top: 4rem;
}

.pub-box{
  margin-left: 25rem;
  margin-top: 13rem;
}

.upload-box__title{
  width: 21rem;
  height: 2rem;
  background-color: #F1F1F1;
}

.upload-box__description{
  height: 5rem;
  width: 21rem;
  background-color: #F1F1F1;
}

.publish{
  background-color: #0095FF;
  display: flex;
  border-radius: 2px;
  height: 2.5rem;
  width: 11rem;
  color: white;
  justify-content: center;
  font-size: 1.9rem;
}

.comment-box{
  margin-top: 5rem;
}