    @font-face {
  font-family: 'Roboto-Regular';
  src: url('./Fonts/Roboto/Roboto-Regular.eot') format('embedded-opentype');
  src: url('./Fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
  url('./Fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
  url('./Fonts/Roboto/Roboto-Regular.woff') format('woff'),
  url('./Fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: 'Roboto-Medium';
  src: url('./Fonts/Roboto/Roboto-Medium.eot') format('embedded-opentype');
  src: url('./Fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
  url('./Fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
  url('./Fonts/Roboto/Roboto-Medium.woff') format('woff'),
  url('./Fonts/Roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 700;
  font-style: normal;
 }

 @mixin nav-settings() {
  top: 1rem;
  position: relative;
  border: solid 1px;
 }

.Nav-bar{
  background-color: #FFFFFF;
  display: flex;
  height: 5.6rem;
  box-shadow: 1px 8px 40px #F1F1F1;
  flex-direction: row;
  justify-content: space-around;
}

.Nav-bar__f-logo{
  position: relative;
  top: 2rem;
}

.Nav-bar__search-bar{
  @include nav-settings();
  font-family: 'Roboto-Regular';
  height: 3.2rem;
  width: 27.6rem;
  border-color: #D4D4D4;
  border-radius: 4px 0px 0px 4px;
  font-size: 1.2rem;
  position: relative;
  right: 7rem;
}

.magnify-back{
  @include nav-settings();

  background-color: #F8F8F8;
  height: 3.3rem;
  width: 7.5rem;
  border-color: #D4D4D4;
  border-radius: 0px 4px 4px 0px;
  right: 22.5rem;
}

.magnify{
  height: 1.5rem;
  position: relative;
  top: 0.8rem;
  left: 3rem;
}

.Nav-bar__gibs{
  display: flex;
}

.upload-button{
  position: relative;
  right: 1.4rem;
  bottom: 1.5rem;
}

.gibbonsCircle3{
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  left: 4rem;
  bottom: 2rem;
}

.gibbons{
  height: 3rem;
}

.main-container{
  height: 57rem;
}

.Video{
  height: 30rem;
  margin-left: 8rem;
  margin-top: 3rem;
}

.VidTitle{
  font-family: 'Roboto-Regular';
  margin-left: 8rem;
  margin-top: 1.5rem;
}

.viewsNumbers{
  
  color: #888888;
  margin-left: 0rem;
  margin-top: 0.7rem;
}

.views{
  font-family: 'Roboto-Regular';
  color: #888888;
  margin-top: 0.7rem;
  margin-left: 0.3rem;
}

.view-container{
  display: flex;
  border-bottom: solid 1px #D4D4D4;
  width: 86.3%;
  margin-left: 8rem;
  padding: 0rem 0rem 1rem 0rem;
}

.thumbup{
  margin-top: 0.5rem;
  margin-left: 29.6rem;
}

.Likes{
  font-family: 'Roboto-Regular';
  color: #888888;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.thumbDown{
  margin-top: 1rem;
  margin-left: 1rem;
}

.dislikes{
  font-family: 'Roboto-Regular';
  color: #888888;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.share-button{
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.share{
  font-family: 'Roboto-Regular';
  color: #888888;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}

.channel-tab{
  display: flex;
  margin-left: 8rem;
  margin-top: 1.5rem;
}

.crop{
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.grey{
  background-color: #D4D4D4;
  height: 5rem;
}

.ch-info{
  margin-left: 1rem;
  margin-right: 27rem;
}

.channel{
  font-family: 'Roboto-Regular';
  margin-top: 0.4rem;
  margin-bottom: 0.3rem;
}

.date{
  font-family: 'Roboto-Regular';
  color: #888888;
  font-size: 0.9rem;
}

.subscribe-button{
  background-color: #0095FF;
  display: flex;
  border-radius: 2px;
  height: 2.5rem;
  width: 11rem;
  margin-top: 0.3rem;
}

.subscribe{
  font-family: 'Roboto-Medium';
  color: #FFFFFF;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.sub-count{
  font-family: 'Roboto-Medium';
  color: #D4D4D4;
  margin-top: 0.7rem;
  margin-left: 2rem;
}

.show-more-box{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #D4D4D4;
  width: 86.3%;
  margin-left: 8rem;
}

.description{
  font-family: 'Roboto-Regular';
  margin-left: 4rem;
  margin-top: 2rem;
}

.more{
  font-family: 'Roboto-Regular';
  color:#888888;
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.video-card{
  display: flex;
  margin-top: -1.9rem;
}

.video-card__image{
  height: 6rem;
  width: 9rem;
}

.vid-description{
  margin-top: 1.6rem;
  margin-left: 0.7rem;
}

.video-card__title{
  font-family: 'Roboto-Regular';
  font-size: 13px;
  width: 13rem;
}

.video-card__ch{
  font-family: 'Roboto-Regular';
  font-size: 0.7rem;
  color: #888888;
}

.video-card__views{
  font-family: 'Roboto-Regular';
  font-size: 0.7rem;
  color: #888888
}

.video-card__duration{
  position: relative;
  top: 6rem;
  font-size: 0.5rem;
  color: white;
  background-color: black;
  width: 1.5rem;
  height: 0.8rem;
  left: 7rem;
}

.combine{
  display: flex;
}

.video-loop{
  margin-left: 2rem;
  margin-top: 1rem;
}

.next{
  font-family: 'Roboto-Regular';
  font-size: 0.9rem;
  margin-top: 2.6rem;
  margin-left: 2rem;
}

.upload-box{
  background-color: #FFFFFF;
  width: 73rem;
  height: 36rem;
  border: solid 1px #D4D4D4;
  margin-left: 9rem;
  margin-top: 4rem;
}

.pub-box{
  margin-left: 25rem;
  margin-top: 13rem;
}

.upload-box__title{
  width: 21rem;
  height: 2rem;
  background-color: #F1F1F1;
}

.upload-box__description{
  height: 5rem;
  width: 21rem;
  background-color: #F1F1F1;
}

.publish{
  background-color: #0095FF;
  display: flex;
  border-radius: 2px;
  height: 2.5rem;
  width: 11rem;
  color: white;
  justify-content: center;
  font-size: 1.9rem;
}

.comment-titles{
display: flex;
}

.comment-card__name{
  font-family: 'Roboto-Regular';
  margin-right: 1rem;
}

.comment-card__timestamp{
  font-family: 'Roboto-Regular';
}

.comment-card__comment{
  font-family: 'Roboto-Regular';
  margin-bottom: 2rem;
}

.comment-boxsection{
  margin-left: 8rem;
}

.comment-textbox{
  display: flex;
  margin-top: 2rem;
  
}

.gibbonsCircle2{
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.comments-words{
  width: 47rem;
  font-size: 1rem;
  border-color: white;
  margin-left: 1rem;
  border-bottom: solid 1px #D4D4D4;
  width: 99.3%;
}

.enter-buttons{
  display: flex;
  justify-content: flex-end;
}

.cancel{
  font-family: 'Roboto-Regular';
  height: 3rem;
  width: 6rem;
  border-color: white;
  font-size: 1rem;
}

.comment{
  font-family: 'Roboto-Regular';
  background-color: #0095FF;
  border-radius: 2px;
  width: 7rem;
  font-size: 1rem;
  color: white;
}
